* {
    font-family: helvetica;
}

.resize-drag {
    background-color: #29e;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 8px;
    padding: 20px;
    touch-action: none;
    width: 120px;
    /* This makes things *much* easier */
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

.think-work-area {
    width: 100%;
    height: 100%;
    border: solid 2px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: wrap;
    flex-srink: initial;
}

.btn {
    background-color: magenta;
    color: white;
    border: none;
    padding: 15px;
    transition: ease all 1s;
    cursor: pointer;
}

.btn: hover {
    cursor: pointer;
    transition: ease all 1s;
    background-color: aqua;
    color: green;
    border: none;
    padding: 10px;
}

.thinks-box {
    width: 30px;
    height: 30px;
    background-color: #272727;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    border: solid 1px whitesmoke;
    position: relative;
}

.posicion {
    border: solid 1px whitesmoke;
    display: flex;
    margin-left: 10px;
}

p {
    margin-left: 15px;
}

#think-work-area {
    background-color: #444444;
    margin-top: 5px;
    border-radius: 5px;
}
