<div class="d container-fluid display d-flex justify-content-center align-items-center" [ngStyle]="{'height': _height}">
    <div class="formLog">
        <div class="title">Login</div>
        <hr>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email:</label>
                <input type="email" class="form-control" [(ngModel)]="_Nombre" name="_Nombre" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">
                  Ingresa con tu email.
            </small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">
              Password
            </label>
                <input type="password" class="form-control" [(ngModel)]="_Pass" name="_Pass" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary" (click)="Logearse()">
          <span class="icon-lock"></span>
            Entrar</button>
        </form>
    </div>
</div>
